.App {
  margin: 0 auto;
  max-width: 960px;
}

.App-header {
  padding: 3rem 0;
  text-align: center;
}

.App-subheader {
  background-color: rgba(119, 85, 102, 0.9);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.App-subheader-links {
  flex: 1 1 auto;
}

.App-content {
  background-color: #fff;
}

h1 {
  font-family: 'Oleo Script';
  margin: 0;
}

.Logo {
  display: inline-block;
  line-height: 1;
  position: relative;
}

.Logo-train {
  color: transparent;
  font-size: 8rem;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  transform: scale(-1, 1);
}

.Logo-text {
  color: #fff;
  font-size: 4rem;
  left: 50%;
  position: absolute;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  top: 0;
  transform: translate(-50%, 50%);
}
